
.main__first__block{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fbf8f3;
    padding: 4em;
}

.main__first__block__header2{
    font-size: 40px;
    line-height: 54px;
    
}

.main__first__block__rating{
    display: flex;
    flex-direction: row;
    margin-top: 3em;
    line-height: 24px;
}

.main__first__block__rating a{
    text-decoration: none;
    margin-left: 6px;
}


.main__second__block{
    display: flex;
}

.main__second__block__left{
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 53px;
    line-height: 74px;
    color: white;
    flex-shrink: 1;
    position: relative;
}

.main__second__block__left__img{
    height:100%; 
    width: 100%;
}

.main__second__block__left__header2{
    position: absolute;
    text-align: center;
}

.main__second__block__right{
    /* width: 100%; */
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* padding: 100px 0px; */
    flex-shrink: 1;
}

.main__second__block__right__border{
    max-width: 50%;
}

.main__second__block__right__header3{
    font-size: 36px;
    line-height: 48px;
    
}

.main__second__block__right__paragraph{
    margin-top: 12px;
    font-size: 20px;
    line-height: 26px;
}

.main__third__block{
    
    display: flex;
}

.main__third__block__child{
    text-align: center;
    flex:1;
    padding-bottom: 100px ;
    height: 380px;
    display: flex;
    flex-direction: column;
    justify-content:flex-end;
    align-items:center;
    font-size: 24px;
    line-height: 32px;
}

.main__third__block__one{
    background-color:#c1d2aa ;
}

.main__third__block__two{
    background-color:#b5d9d0 ;
}

.main__third__block__three{
    background-color:#f9b5b5 ;
}

.main__third__block__four{
    background-color:#fdae7b ;
}

.main__fourth__block{
    background-color: #FFFCF6;
    padding: 120px 0 180px 0;
    text-align: center;
}

.main__fourth__block__header2{
    font-size: 36px;
    line-height: 48px;
    margin-bottom: 100px;
}



.main__fivth__block{
    height: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main__fivth__block__header2{
    font-size: 76px;
    line-height: 100px;
    text-align: center;
}

.main__sixth__block{
    background-color: #fd9756;
    display: flex;
    justify-content:space-around;
    padding: 100px 0;
}

.main__sixth__block__left__header2{
    font-size: 48px;
    line-height: 60px;

}

.main__sixth__block__left__button{
    margin-top: 40px;
    text-align: center;
}

.main__sixth__block__right__list{
    width: 100%;
    height: 100%;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.main__sixth__block__right__list__item{
    font-size: 20px;
    line-height: 26px;
    padding: 30px 0;
    display: block;
    height: 33%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.border:active{
    border-top: 1px solid black;
    border-bottom: 1px solid black ;
}

.main__sixth__block__right__list__item img{
    cursor: pointer;
}
.border{
    border-top: 1px solid black;
    border-bottom: 1px solid black ;
}

.main__seventh__block{
    display: flex;
    max-width: 100%;
}

.main__seventh__block__right{
    display: flex;
    justify-content: end;
    width: 50vw;
    flex-basis: 50%;
}
.main__seventh__block__right__border{
    width: 100%;
}
.main__seventh__block__right img{
    width: 100%;
    height: 100%;
}
.main__seventh__block__left{
    align-items: center;
    display: flex;
    flex-basis: 50%;
    width: 50vw;

}
.main__seventh__block__left__border{
    
    margin: 0 auto;
    width: 80%;
}
.main__seventh__block__left__button{
    margin-top: 40px;
}
.main__seventh__block__left__paragraph1{
    font-size: 20;
    line-height: 26px;
}
.main__seventh__block__left__header3{
    font-size: 32px;
    line-height: 48px;
    margin: 1em 0;
}
.main__seventh__block__left__paragraph2{
    font-size: 20px;
    line-height: 26px;
    width: 100%;

}



.main__seventh__block__left__button{
    width: 15em;
}

.main__eighth__block{
    padding: 110px 0;
    display: flex;
}

.main__eighth__block__left{
    flex-shrink: 1;
    flex-basis: 50%;
    max-width: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* padding:120px; */
}

.main__eighth__block__right{
    flex-shrink: 1;
    flex-basis: 50%;
    width: 50vw;
    /* padding: 120px; */
}

.main__eighth__block__right__paragraph1{
    font-size: 20px;
    line-height: 26px;
    
}

.main__eighth__block__right__header3{
    font-size: 32px;
    line-height: 48px;
    
    margin: 12px 0;
}

.main__eighth__block__right__paragraph2{
    font-size: 20px;
    line-height: 26px;
    
}

.main__ninth__block{
    background-color: rgb(255, 200, 64);
    text-align: center;
    padding: 100px 0;
}

.main__ninth__block__review__header3{
    font-size: 40px;
    line-height: 54px;
    
}
.main__ninth__block__review__reating{
    margin: 40px;
    display: flex;
    justify-content: center;
}

.main__ninth__block__reviewExamples{
    display: flex;
    gap: 20px;
    margin-bottom: 60px;
    justify-content: center;
    align-items: center;
}
.main__ninth__block__reviewExamples__card{
    max-width: 370px;
    min-height: 380px;
    max-height: 440px;
    background-color: #FFF;
    text-align: left;
    border-radius: 1em;
    /* padding:30px; */
    position: relative;
}
.card__border{
    max-width: 90%;
    margin: 1em auto;
}
.card__abrev{
    border-radius: 1em;
    padding: 0 14px;
    display: inline-block;
    font-size: 16px;
    line-height: 24px;
    
    background-color: rgb(217, 221, 231);
}
.card__name{
    margin-left: 1em;
    display: inline-block;
    font-size: 16px;
    line-height: 24px;
    
}
.card__reviewImage{
    display: block;
    margin:20px 0 10px 0;
}

.card__shortText{
    margin: 20px 0 10px 0;
    font-size: 16px;
    line-height: 24px;
    
}
.card__longText{
    font-size: 16px;
    line-height: 24px;
    
}
.user__with__img{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
}

.card__time{
position: absolute;
bottom:10px    
}

.main__tenth__block{
    background-color: rgb(251, 248, 243);
    text-align: center;
    padding: 200px;
}
.main__tenth__block__paragraph1{
    font-size: 24px;
    line-height: 32px;  
}

.main__tenth__block__header2{
    font-size: 36px;
    line-height: 48px;
    margin: 100px;
}

.main__tenth__block__paragraph2{
    font-size: 20px;
    line-height: 26px;
}
.main__eleventh__block{
    padding: 100px;
    background-color: rgb(255, 200, 64);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.text__relocator{
    text-align: center;
}
.main__eleventh__block__h3{
    font-size: 36px;
    line-height: 48px;
    font-weight: 400;   
    margin: 40px;
}

.main__eleventh__block__p{
    font-size: 20px;
    line-height: 26px;
}

.main__eleventh__block__ul{
    list-style: none;
}
.main__eleventh__block__ul__li{
    font-size: 24px;
    line-height: 32px;
    padding: 10px 40px;
    background: url('../../img/checkedSymbol.svg') left center no-repeat;
}

.line{
    margin: 40px;
}

.two__section__block{
    text-align: center;
    padding: 300px 0;
}

.two__section__block h3{
    font-size: 36px;
    line-height: 48px;
    margin: 20px;
}

.main__twelveth__block{
    background-color: rgb(208, 220, 190);
}

.main__thirteenth__block{
    background-color: rgb(251, 199, 199);
}

.main__forteenth__block{
    background-color: rgb(251, 248, 243);
    display: flex;
}
.main__forteenth__block__right{
    flex: 1;
}
.main__forteenth__block__right img{
    width: 100%;
    height: 100%;
}
.main__forteenth__block__left{
    flex: 1;
    padding: 100px 0 ;
}

.main__forteenth__block__left__limiter{
    margin: 0 auto;
    max-width: 80%;
}

.main__forteenth__block__left__p1{
    font-size: 20px;
    line-height: 26px;
}
.main__forteenth__block__left h3{
    font-size: 30px;
    line-height: 48px;
    margin: 30px 0;
}

.main__forteenth__block__leftp2{
    font-size: 20px;
    line-height: 26px;
    margin: 20px 0;
}
.main__fivtetnth__block{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 120px;
}

.main__fivtetnth__block__header2{
    font-size: 80px;
    line-height: 100px;
    text-align: center;
}

.main__fivtetnth__block__header3{
    font-size: 38px;
    line-height: 54px;
}

.main__fivtetnth__block__paragraph{
    font-size: 18px;
    line-height: 24px;
    text-align: center;
}
.main__sixteenth__block{
    padding: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(251, 248, 243);
}

.main__sixteenth__block__header3{
    font-size: 36px;
    line-height: 48px;
}

.main__sixteenth__block__list{
    list-style: none;
    max-width: 750px;
}
.main__sixteenth__block__list div{
    display: flex; 
    flex-direction: row;
    justify-content: space-between;
}
.main__sixteenth__block__list__item{
    font-size: 28px;    
    line-height: 40px;
}
.main__sixteenth__block__more{
    font-size: 24px;
    line-height:32px;
    margin:80px 0 40px 0; 
}

.main__seventeenth__block{
    background-color: rgb(255, 252, 246);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 80px 0;
}
.main__seventeenth__block__header3{
    font-size: 23px;
    line-height: 32px;
}

.bigger__arrow__down__block{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}