.header{
    background-color: #ffb941;
    
}

.burger{
    display: none;
    padding: top -5px; ;
    position: relative;
    width: 40px;
    height: 40px;
    background-color: transparent;
    border:none;
    border-radius: 5px;
    z-index: 10;
}

.span{
    bottom: 18px;
    background-color: white;
    width: 30px;
    height: 3px;
    position: absolute;
    left: 5.5px;
    transition: transform .5s;
}

.span:nth-child(2){
    transition: transform .5s;

}

.span:nth-child(1) {
    transform:translateY(-10px);
}
.span:nth-child(3){
    transform: translateY(10px);
}

.header__menu__linksBlock{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.header__max-width{
    margin: 0 auto;
    max-width: 1200px
}

.header a{
    text-decoration: none;
    line-height: 26px;
    font-size: 20px;
    color: #000;
    margin: 1.5em;
}

.header__mainContent{
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}

.header__mainContent__left{
    flex: 1;
    display: flex;
    flex-direction: column; 
    align-items: center;
}

.header__mainContent__right{
    flex: 1;
}

.header__mainContent__button{
    width: 12vw;
}

.header__mainContent__head1{
    font-size: 40;
    line-height: 54px;

}

.header__mainContent__right__image {
    max-width: 90%;
    height: auto;
    margin-bottom: -4px;    
}
